:root {
    --Border-color: #03045E;
    --nav-color: #0077b6;
    --text-background: #90e0ef; 
    --site-background: #caf0f8; 
}

html {
    width: 1000px;
    height: auto;
    background-color: var(--site-background);
}

.hero {
    position: relative;
    width: 100%;
    height:auto;
}

.heroimage {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.h1things {
    position: absolute;
    top: 1px;
    left: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif, black;
    background-color: var(--text-background);
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif, black;
}

article {
    position: absolute;
    width: 465px;
    height: auto;
    top: 65px;
    left: 35px;
    background-color: var(--text-background);
    padding: 4px;
}

.img {
    float: right;
    top: 100px;
    right: 50px;
}

p {
    font-family: Arial, Helvetica, sans-serif, black;
}

a {
    text-decoration: none;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid var(--Border-color);
    max-width: 1000px;
    background-color: var(--nav-color);
}

header img {
    margin: 0 0.25rem 0 1rem;
    width: 75px;
    height: auto;
}

nav {
    display: flex;
    justify-content: flex-start;
    text-align: right;
}

.navigation {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--text-background);
}

.navigation li {
    flex: 0;
}

.navigation a {
	display: block;
	color: var(--Border-color);
	padding: 20px;
	text-decoration: none;
    white-space: nowrap;
}

.history {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    justify-content: space-between;
    border: solid 1px var(--Border-color);
    padding: 5px;
}

.text-left {
    grid-column: 1;
}

.image-center {
    grid-column: 2;
    padding-right: 75px;
    padding-left: 75px;
    padding-bottom: 20px;
}

.text-right {
    grid-column: 3;
}

.center {
    justify-self: center;
    grid-column: 2;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    justify-content: space-between;
    align-items: center;
    border: solid 1px var(--Border-color);

}
.title {
    grid-row: 1;
    grid-column: 3;
    justify-content: center;
    align-self: center;
    text-align: center;
}

.image-row {
    grid-row: 2;
    width: 115px;
    height: auto;
    justify-content: center;
    object-fit: cover;
}

footer {
    display: flex;
    align-items: center;
}

.foot-text {
    flex: 1;
    text-align: center;
}

button {
    display: block;
    margin: 1rem auto;
    background-color: var(--Border-color);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: var(--nav-color);
}

.employee {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
}

.employee-item {
    width: 100%;
    height: auto;
    align-items: center;
    grid-row: span 3;
}

legend {
    margin: 0 auto;
}

.form {
    padding-top: 10px;
    padding-bottom: 10px;
}

.contact {
    border: solid var(--text-background)
}